.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #a94e0dcd;
  border: 1px solid #1deb3c;
  padding: 12px;
  width: 75%;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 25px;

}

.animal-list {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}