.animal-show {
  position: relative;
  border: 1px solid greenyellow;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 4px 50px lightgreen;
}

.animals {
  height: 170px;
}
.heart {
  position: absolute;
  right: 5%;
  bottom: 5%;
}